<style type="text/css">
    .font-color{color:#000000}
    .sm-st {
        background:#fff;
        padding:20px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        margin-bottom:20px;
        -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
        box-shadow: 0 1px 0px rgba(0,0,0,0.05);
    }
    .sm-st-icon {
        width:60px;
        height:60px;
        display:inline-block;
        line-height:60px;
        text-align:center;
        font-size:30px;
        background:#eee;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        float:left;
        margin-right:10px;
        color:#fff;
    }
    .sm-st-info {
        font-size:12px;
        padding-top:2px;
    }
    .sm-st-info span {
        display:block;
        font-size:24px;
        font-weight:600;
    }
    .orange {
        background:#fa8564 !important;
    }
    .tar {
        background:#45cf95 !important;
    }
    .sm-st .green {
        background:#86ba41 !important;
    }
    .pink {
        background:#AC75F0 !important;
    }
    .yellow-b {
        background: #fdd752 !important;
    }
    .stat-elem {

        background-color: #fff;
        padding: 18px;
        border-radius: 40px;

    }

    .stat-info {
        text-align: center;
        background-color:#fff;
        border-radius: 5px;
        margin-top: -5px;
        padding: 8px;
        -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
        box-shadow: 0 1px 0px rgba(0,0,0,0.05);
        font-style: italic;
    }

    .stat-icon {
        text-align: center;
        margin-bottom: 5px;
    }

    .st-red {
        background-color: #F05050;
    }
    .st-green {
        background-color: #27C24C;
    }
    .st-violet {
        background-color: #7266ba;
    }
    .st-blue {
        background-color: #23b7e5;
    }

    .stats .stat-icon {
        color: #28bb9c;
        display: inline-block;
        font-size: 26px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
        float:left;
    }

    .stat {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        margin-right: 10px; }
    .stat .value {
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500; }
    .stat .name {
        overflow: hidden;
        text-overflow: ellipsis; }
    .stat.lg .value {
        font-size: 26px;
        line-height: 28px; }
    .stat.lg .name {
        font-size: 16px; }
    .stat-col .progress {height:2px;}
    .stat-col .progress-bar {line-height:2px;height:2px;}

    .item {
        padding:30px 0;
    }
</style>
<link rel="stylesheet" type="text/css" href="__PUBLIC__back/lyui/dist/css/lyui.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__back/lyui/dist//css/lyui.extend.min.css">
<script type="text/javascript" src="__PUBLIC__back/jquery/1.x/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript" src="__PUBLIC__back/lyui/dist//js/lyui.extend.min.js"></script>

<script src="__PUBLIC__back/chart/1.x/Chart.min.js"></script>
<script type="text/javascript">
    $(function() {
        // 用户增长曲线图
        var chart_data = {
            labels: {$user_reg_date},
            datasets: [{
                label: "订单增长曲线图",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: {$user_reg_count}
            }]
        };
        var chart_options = {
            scaleLineColor : "rgba(0,0,0,.1)", //X/Y轴的颜色
            scaleLineWidth : 1, //X/Y轴的宽度
        };
        var chart_element = document.getElementById("mychart").getContext("2d");
        var myLine = new Chart(chart_element).Line(chart_data, chart_options);

        // 日期
        $('#start_date').datetimepicker({
            format      : 'yyyy-mm-dd',
            autoclose   : true,
            minView     : 'month',
            todayBtn    : 'linked',
            language    : 'en',
            initialDate : '{$start_date}',
            fontAwesome : true,
        });
        $('#end_date').datetimepicker({
            format      : 'yyyy-mm-dd',
            autoclose   : true,
            minView     : 'month',
            todayBtn    : 'linked',
            language    : 'en',
            initialDate : '{$end_date}',
            fontAwesome : true,
        });
    });

    //*******************************************************

    // $(function(){
    // 初始化日期范围插件
    // $('#start_date').daterangepicker({
    // "showDropdowns": true,
    // "autoApply": false,
    // "dateLimit": {
    //     "days": 365 * 100
    // },
    // "linkedCalendars": false,
    // "ranges": {
    //     "一周内": [
    //         moment().subtract(6, 'days'),
    //         moment()
    //     ],
    //     "一月内": [
    //        moment().subtract(29, 'days'),
    //        moment()
    //     ],
    //     "本月内": [
    //         moment().startOf('month'),
    //         moment().endOf('month')
    //     ],
    //     "上个月": [
    //         moment().subtract(1, 'month').startOf('month'),
    //         moment().subtract(1, 'month').endOf('month')
    //     ]
    // },
    //         autoUpdateInput: false,
    //         locale : {
    //             format: 'YYYY-MM-DD',
    //             separator: ' - ',
    //             applyLabel: '确定',
    //             cancelLabel: '取消',
    //             fromLabel: '从',
    //             toLabel: '到',
    //             customRangeLabel: '日期范围',
    //             daysOfWeek: ['日', '一', '二', '三', '四', '五','六'],
    //             monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
    //             firstDay: 1
    //         },
    //         "startDate": "2015-12-06",
    //         "endDate": "2016-12-05",
    //         "minDate": "YYYY-MM-DD",
    //         "maxDate": "YYYY-MM-DD"
    //     }, function(start, end, label) {
    //         console.log("New date range selected: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + " (predefined range: " + label + ")");
    //     });

    //     $('#_date_3').on('apply.daterangepicker', function(ev, picker) {
    //           $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
    //     });

    //     $('#_date_3').on('cancel.daterangepicker', function(ev, picker) {
    //         $(this).val('');
    //     });

    // })


    //*******************************************************

    $('a.label-success[name="<?php echo $type ?>"]').css('color','black').on('click',function(){return false;});


</script>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            <!--<li class="active"><a href="#one" data-toggle="tab">{:__('Dashboard')}</a></li>-->
            <li class="active"><a href="javascript:;">用户统计</a></li>
            <li class=""><a href="{:url('admin/dashboard/ordercount')}" >商品订单量统计</a></li>
            <li class=""><a href="{:url('admin/dashboard/ordersale')}" >商品订单销售额统计</a></li>
            <li class=""><a href="{:url('admin/dashboard/ordercount2')}" >定制订单量统计</a></li>
            <li class=""><a href="{:url('admin/dashboard/ordersale2')}" >定制订单销售额统计</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="chart">
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">用户增长统计&nbsp;&nbsp;&nbsp;
                                <a class="label label-success" name=''  href="{:url('admin/dashboard/index',['type'=>''])}" style="color: <?php if($type=='') echo 'black'; ?>;">按天统计</a>&nbsp;&nbsp;
                                <a class="label label-success" style="color:<?php if($type=='month') echo 'black'; ?>;"  name='month' href="{:url('admin/dashboard/index',['type'=>'month'])}">按月统计</a>&nbsp;&nbsp;
                                <a class="label label-success"  name='year' href="{:url('admin/dashboard/index',['type'=>'year'])}" style="color: <?php if($type=='year') echo 'black'; ?>;">按年统计</a>
                            </div>
                            <div class="panel-body">
                                <h5 class="text-center">
                                    <form action="{:url('admin/dashboard/index',['type'=>$type])}" method="get">
                                        <input id="start_date" name="start_date" value="{$start_date}"> 至
                                        <input id="end_date" name="end_date" value="{$end_date}">
                                        <input id="submit" type="submit" class="btn btn-xs btn-default search-btn" value="查询">
                                    </form>
                                </h5>
                                <canvas id="mychart" style="width:100%;height:300px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

