<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="telephone=no" name="format-detection"/>
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<link rel="stylesheet" href="__PUBLIC__html/weui/lib/weui.min.css"/>
<link rel="stylesheet" href="__PUBLIC__html/weui/css/jquery-weui.min.css"/>
<link rel="stylesheet" href="__PUBLIC__html/css/reset.css"/>
<link rel="stylesheet" href="__PUBLIC__html/css/style.css"/>
<script src="__PUBLIC__html/weui/lib/jquery-2.1.4.js"></script>
<script src="__PUBLIC__home/js/ajaxlist.js"></script>
<script src="__PUBLIC__html/js/functions.js"></script>
<script src="__PUBLIC__html/js/jquery.lazyload.min.js"></script>
<script src="__PUBLIC__html/weui/js/swiper.js"></script>
<script src="__PUBLIC__assets/function.js"></script>
<script src="__PUBLIC__html/weui/js/jquery-weui.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="__PUBLIC__html/weui/js/city-picker.js"></script>
<!--[if lt IE 9 ]>
<script src="__PUBLIC__html/js/html5.js"></script>
<![endif]-->