<script>
	if ('{$jsapi}' != '') {
		// console.log({$jsapi});
		wx.config({$jsapi})
		console.log({$wechatShare1})
	}
	wx.ready(function () {
		//分享到朋友圈
		wx.onMenuShareTimeline({
			title  : '{$wechatShare["title"]}',
			desc   : '{$wechatShare["desc"]}',
			link   : '{$wechatShare["link"]}',
			imgUrl : '{$wechatShare["imgUrl"]}',
			success: function () {
			},
			cancel : function () {
			}
		});
		//分享给朋友
		wx.onMenuShareAppMessage({
			title  : '{$wechatShare.title}',
			desc   : '{$wechatShare.desc}',
			link   : '{$wechatShare.link}',
			imgUrl : '{$wechatShare.imgUrl}',
			success: function () {
			},
			cancel : function () {
			}
		});
	});
</script>